@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
::-webkit-scrollbar {
  width: 0;
}

html,
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  background-color: #ffffef;
}

.header__logo {
  max-width: 70px;
  max-height: 70px;
}

.header__logo img {
  width: 100%;
  height: 100%;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 500;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 2;
}

.container {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  padding: 0px 10px;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90px;
          flex: 0 0 90px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 3;
}

.header__logo img {
  display: block;
  width: 100%;
}

.header__burger {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}
.header__list li {
  margin: 0px 0px 0px 20px;
}

.header__link {
  color: #fff;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
@media (max-width: 767px) {
  .header__link {
    font-size: calc(11px + 15.3 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .header__link {
    font-size: calc(11px + 9 * (100vw / 1440));
  }
}
.header__link::after {
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #fff;
  content: "";
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}
.header__link:hover::after, .header__link:focus::after {
  width: 100%;
}

.header__link-language {
  color: yellow;
}

.content {
  padding: 80px 0px 0px 0px;
  position: relative;
  width: 100%;
  height: 100%;
}
.content img {
  max-width: 100%;
  max-height: 100%;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}

.main__name {
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .main__name {
    font-size: calc(32px + 47.6 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .main__name {
    font-size: calc(32px + 28 * (100vw / 1440));
  }
}

.main__text {
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .main__text {
    font-size: calc(20px + 34 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .main__text {
    font-size: calc(20px + 20 * (100vw / 1440));
  }
}

.title {
  text-align: center;
  margin: 50px 0px;
}
@media (max-width: 767px) {
  .title {
    font-size: calc(20px + 51 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .title {
    font-size: calc(20px + 30 * (100vw / 1440));
  }
}

.about__title {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
  position: relative;
}
.about__title::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.about__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__block-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  margin-right: 50px;
  background-color: #000;
}
.about__block-img img {
  width: 100%;
  height: 100%;
}

.about__block-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  line-height: 140%;
}
@media (max-width: 767px) {
  .about__block-text {
    font-size: calc(16px + 6.8 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .about__block-text {
    font-size: calc(16px + 4 * (100vw / 1440));
  }
}

.resume__title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
}
.resume__title::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.resume__content p {
  line-height: 140%;
}
@media (max-width: 767px) {
  .resume__content p {
    font-size: calc(16px + 6.8 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .resume__content p {
    font-size: calc(16px + 4 * (100vw / 1440));
  }
}

.content__resume-subtitle {
  font-weight: 700;
  margin: 30px 0px;
}
@media (max-width: 767px) {
  .content__resume-subtitle {
    font-size: calc(20px + 34 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .content__resume-subtitle {
    font-size: calc(20px + 20 * (100vw / 1440));
  }
}

.content__resume-text p {
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .content__resume-text p {
    font-size: calc(16px + 6.8 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .content__resume-text p {
    font-size: calc(16px + 4 * (100vw / 1440));
  }
}

.portfolio_jobs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio_jobs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
  border: 1px solid #000;
}
.portfolio_jobs__item img {
  width: 100%;
  height: 100%;
}

.scale {
  display: inline-block;
  overflow: hidden;
}
.scale img {
  -webkit-transition: 1s;
  transition: 1s;
  display: block;
}
.scale img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.block__portfolio__title {
  text-align: center;
  margin: 50px 0px;
  font-weight: 700;
}

.contacts {
  padding-bottom: 50px;
}

.contacts_inner {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

.contacts__title {
  position: relative;
}
.contacts__title::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.contacts_item {
  position: relative;
  padding-left: 20px;
}
.contacts_item:not(:last-child) {
  margin-bottom: 50px;
}
.contacts_item::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 50px;
  height: 50px;
}
.contacts_item a {
  color: #000;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 767px) {
  .contacts_item a {
    font-size: calc(13px + 8.5 * ((100vw - 320px) / 1440));
  }
}
@media (min-width: 767px) {
  .contacts_item a {
    font-size: calc(13px + 5 * (100vw / 1440));
  }
}

.contacts__telegram::before {
  background: url(../img/icons-telegram.svg) 0 0 no-repeat;
}

.contacts__whatsapp::before {
  background: url(../img/icons-whatsapp.svg) 0 0 no-repeat;
}

.contacts__tel::before {
  background: url(../img/icons-phone.svg) 0 0 no-repeat;
}

.contacts__mail::before {
  background: url(../img/letter.svg) 0 0 no-repeat;
  width: 30px;
  height: 30px;
  top: -10px;
  left: 10px;
}

@media (max-width: 767px) {
  .header__body {
    height: 50px;
  }

  .header__menu.active {
    top: 0;
  }

  .content {
    padding: 50px 0px 0px 0px;
  }

  .block__portfolio_jobs {
    display: block;
  }

  .portfolio_jobs__item {
    margin-right: 0;
  }
}
@media (max-width: 700px) {
  .about__block {
    display: block;
  }

  .about__block-img {
    margin-right: 0;
    margin-bottom: 50px;
  }
}
@media (max-width: 450px) {
  .main {
    top: 59%;
  }
}
@media (max-width: 350px) {
  .header__menu {
    margin-left: -20px;
  }
}